/*fonte Google fonts*/
.fonte-letras-google {
	font-family: 'Raleway', sans-serif;
}


/*________Acessibilidade__________*/
.pularNavegacao {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	width: 1px;
	height: 1px;
	display: block;
	color: transparent;
	position: absolute;
}


/* Cores */
.gradient-menu {
	background: linear-gradient(90deg, rgba(39,0,65,1) 0%, rgba(255,94,30,1) 15%, rgba(255,94,30,1) 16%, rgba(195,79,47,1) 39%, rgba(52,6,85,1) 77%, rgba(52,6,85,1) 100%);
}
.gradient-roxo {
	background: linear-gradient(90deg, rgba(21,0,36,1) 0%, rgba(68,0,115,1) 53%, rgba(119,0,204,1) 100%);
}
.bg-preto{
	background: #0f0f0f;
}
.bg-laranja-carousel {
	background: rgba(195,79,47,1);
}
.cor-texto-prata {
	color: #e5e5e5;
}


/* Logo com neon laranja*/
.neon-logo {
	filter: drop-shadow(0px 0px 30px rgba(255,94,30,1));
}

/* menu com neon para página barbearia*/
.menu-neon {
	box-shadow: 0px 0px 33px #1f1f1f;
}

/* Texto com neon ouro*/
.neon-ouro {
	color: #b58e70;
	text-shadow: 0px 0px 20px rgba(255,94,30,1);
}

/* sombra tipo neon roxo nos cards*/
.neon-cards:hover {
	border: 0.5px solid #9900ff;
	box-shadow: 0px 0px 10px #9900ff;
	transition: 0.5s all;
}
.cardpointer:hover {
	cursor: pointer;
}

#seja-vip{
	margin: 30px;
	border: 0px solid #ffffff;
	box-shadow: 0px 0px 6px #f0f0f0;
	border-radius: 20px;
}

.desfoca-planos {
	filter: blur(0.7px);
}

/* sombra tipo neon laranja nos planos*/
.neon-planos:hover {
	border: 0.5px solid #000000;
	filter: blur(0px);
	transform: scale(1.03);
	box-shadow: 1px 1px 15px rgba(255,94,30,1);
	transition: 0.5s all;
}

/* Texto com neon roxo*/
.neon-roxo {
	color: #9900ff;
	font-weight: bold;
	animation: neon-roxo 2s ease-in-out infinite alternate;
}
@-webkit-keyframes neon-roxo {
	from {
		text-shadow: 0px 0px 30px #9900ff,
					 0px 0px 18px #9900ff;
	}
	to {
		text-shadow: 0 0 6px #9900ff,
					 0 0 6px #9900ff, 
					 0 0 6px #9900ff;
	}
}


/* Texto com neon laranja*/
.neon-laranja {
	color: rgba(255,94,30,1);
	font-weight: bold;
	animation: neon-laranja 2s ease-in-out infinite alternate;
}
@-webkit-keyframes neon-laranja {
	from {
		text-shadow: 0px 0px 30px rgba(255,94,30,1),
					 0px 0px 18px rgba(255,94,30,1);
	}
	to {
		text-shadow: 0 0 6px rgba(255,94,30,1),
					 0 0 6px rgba(255,94,30,1), 
					 0 0 6px rgba(255,94,30,1);
	}
}


/* Borda no final de caixas */
.borda-inferior {
	border-bottom: 0.1px solid #5e5e5e;
}


/*___↓ Cards da barbearia ↓___ */
.cards {
	height: 320px;
	width: 300px;
    background-repeat: no-repeat;
	background-size: 105% 105%;
}

#imagens-cabelo {
	background-image: url('images/corte_front.jpg');
}
#imagens-cabelo:hover {
	background-image: url('images/corte_back.jpg');
}

#imagens-barba {
	background-image: url('images/barba_front.jpg');
}
#imagens-barba:hover {
	background-image: url('images/barba_back.jpg');
}

#imagens-completo {
	background-image: url('images/completo_front.jpg');
}
#imagens-completo:hover {
	background-image: url('images/completo_back.jpg');
}

.barbearia li {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	padding: 0px;
	margin: 15px;
	border: 0.5px solid #9900ff;
	border-radius: 12px;
	box-sizing: border-box;
	color: #000000;
	box-shadow: 0px 0px 6px #9900ff;
}   /*box-sizing: border-box; indica que o tamanho levará em conta todo o conteúdo (width será a soma do conteúdo com a borda e o padding)*/

.barbearia li:hover {
	color: #ff3a09;
	box-shadow: 0px 0px 30px #9900ff;
	text-shadow: 3px 3px 6px #000000;
	transform: scale(1.04);
	transition: 0.5s all;
	cursor: pointer;
}

.barbearia li:active {
	border-color: green;
}

.barbearia h2 {
	font-size: 30px;
	padding-top: 5px;
	font-weight: bold;
}

.barbearia-descricao {
	font-size: 21px;
	font-weight: bold;
	margin-top: 190px;
}

.barbearia-preco {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}
/*___↑ Cards da barbearia ↑___ */


/* Centraliza elementos, não o texto*/
.localizacao {
	text-align: center;
}



/*____________contato___________*/
.video_contato {
    width: 60%;
    margin: 70px 0 40px 0;
}

form {
    padding: 10px 0 20px 0;
	color: #f0f0f0;
}

form label, form legend  {
    display:block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
	background: #000000;
	color: #f0f0f0;
	border-radius: 10px
}

.checkbox {
    margin: 20px 0;
}

.enviar {
	background: -moz-linear-gradient(216deg, rgba(0,34,255,1) 0%, rgba(0,34,255,1) 10%, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 25%, rgba(255,0,0,1) 30%, rgba(255,0,0,1) 40%, rgba(255,255,255,1) 45%, rgba(255,255,255,1) 55%, rgba(0,34,255,1) 60%, rgba(0,43,255,1) 70%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 85%, rgba(255,0,0,1) 90%, rgba(255,0,0,1) 100%);
    background: -webkit-linear-gradient(216deg, rgba(0,34,255,1) 0%, rgba(0,34,255,1) 10%, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 25%, rgba(255,0,0,1) 30%, rgba(255,0,0,1) 40%, rgba(255,255,255,1) 45%, rgba(255,255,255,1) 55%, rgba(0,34,255,1) 60%, rgba(0,43,255,1) 70%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 85%, rgba(255,0,0,1) 90%, rgba(255,0,0,1) 100%);
    background: linear-gradient(216deg, rgba(0,34,255,1) 0%, rgba(0,34,255,1) 10%, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 25%, rgba(255,0,0,1) 30%, rgba(255,0,0,1) 40%, rgba(255,255,255,1) 45%, rgba(255,255,255,1) 55%, rgba(0,34,255,1) 60%, rgba(0,43,255,1) 70%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 85%, rgba(255,0,0,1) 90%, rgba(255,0,0,1) 100%);
	width:27%;
    padding: 9px 0;
    color: black;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 18px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover {
	color: #C78C19;
	text-shadow: 2px 2px 5px #C78C19;
    background: -moz-linear-gradient(216deg, rgba(0,34,255,1) 0%, rgba(0,34,255,1) 10%, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 25%, rgba(255,0,0,1) 30%, rgba(255,0,0,1) 40%, rgba(255,255,255,1) 45%, rgba(255,255,255,1) 55%, rgba(0,34,255,1) 60%, rgba(0,43,255,1) 70%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 85%, rgba(255,0,0,1) 90%, rgba(255,0,0,1) 100%);
    background: -webkit-linear-gradient(216deg, rgba(0,34,255,1) 0%, rgba(0,34,255,1) 10%, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 25%, rgba(255,0,0,1) 30%, rgba(255,0,0,1) 40%, rgba(255,255,255,1) 45%, rgba(255,255,255,1) 55%, rgba(0,34,255,1) 60%, rgba(0,43,255,1) 70%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 85%, rgba(255,0,0,1) 90%, rgba(255,0,0,1) 100%);
    background: linear-gradient(216deg, rgba(0,34,255,1) 0%, rgba(0,34,255,1) 10%, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 25%, rgba(255,0,0,1) 30%, rgba(255,0,0,1) 40%, rgba(255,255,255,1) 45%, rgba(255,255,255,1) 55%, rgba(0,34,255,1) 60%, rgba(0,43,255,1) 70%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 85%, rgba(255,0,0,1) 90%, rgba(255,0,0,1) 100%);
    transform: rotate(-3deg) scale(1.1);
	box-shadow: 0 3px 30px #ffffff;

	/*animação do gradiente*/
	animation: animateBg 9s infinite linear;
	background-size: 120% 100%;
}

table {
    margin: 20px 0 40px;
}

thead {
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid #000000;
    padding: 8px 15px;
}
/*____________contato___________*/



/*___________rodapé____________*/
footer {
	text-align: center;
}
/*___________rodapé____________*/