/*_________↓Featured Services↓_________*/
:root {
  --colorcards01: #ff3a09;
  --colorcards02: #9900ff;
  --colorcards03: #000000;
  --transition_cards: transform 0.6s ease;
  --text-indent_cards: -9999px;
}

/*___↓Barber Shop↓___*/
.c-services {
  background: var(--color11);
}

.c-services__title {
  animation: neon-roxo 2s ease-in-out infinite alternate;
  color: var(--colorcards02);
  font-weight: bold;
}

@keyframes neon-roxo {
  from {
    text-shadow: 0px 0px 30px var(--colorcards02), 0px 0px 18px var(--colorcards02);
  }

  to {
    text-shadow: 0 0 6px var(--colorcards02), 0 0 6px var(--colorcards02),
      0 0 6px var(--colorcards02);
  }
}

.c-services__barbershop {
  align-items: center;
  display: flex;
  justify-content: center;
}

.c-services__box {
  height: 500px;
  transform-style: preserve-3d;
  width: 100%;
}

input[type="radio"] {
  display: none;
}

.c-services__collection {
  height: 100%;
  width: 100%;
}

.c-services__figure {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 360px;
}

#radio-card-01:checked ~ .c-services__collection #card-04,
#radio-card-02:checked ~ .c-services__collection #card-05,
#radio-card-03:checked ~ .c-services__collection #card-01,
#radio-card-04:checked ~ .c-services__collection #card-02,
#radio-card-05:checked ~ .c-services__collection #card-03 {
  filter: brightness(39%);
  text-indent: var(--text-indent_cards);
  transform: translateX(-90%) translateY(9%) scale(0.7);
  transition: var(--transition_cards);
  z-index: 1;
}

#radio-card-01:checked ~ .c-services__collection #card-05,
#radio-card-02:checked ~ .c-services__collection #card-01,
#radio-card-03:checked ~ .c-services__collection #card-02,
#radio-card-04:checked ~ .c-services__collection #card-03,
#radio-card-05:checked ~ .c-services__collection #card-04 {
  filter: brightness(69%);
  text-indent: var(--text-indent_cards);
  transform: translateX(-45%) translateY(9%) scale(0.9);
  transition: var(--transition_cards);
  z-index: 2;
}

#radio-card-01:checked ~ .c-services__collection #card-02,
#radio-card-02:checked ~ .c-services__collection #card-03,
#radio-card-03:checked ~ .c-services__collection #card-04,
#radio-card-04:checked ~ .c-services__collection #card-05,
#radio-card-05:checked ~ .c-services__collection #card-01 {
  filter: brightness(69%);
  text-indent: var(--text-indent_cards);
  transform: translateX(45%) translateY(9%) scale(0.9);
  transition: var(--transition_cards);
  z-index: 2;
}

#radio-card-01:checked ~ .c-services__collection #card-03,
#radio-card-02:checked ~ .c-services__collection #card-04,
#radio-card-03:checked ~ .c-services__collection #card-05,
#radio-card-04:checked ~ .c-services__collection #card-01,
#radio-card-05:checked ~ .c-services__collection #card-02 {
  filter: brightness(39%);
  text-indent: var(--text-indent_cards);
  transform: translateX(90%) translateY(9%) scale(0.7);
  transition: var(--transition_cards);
  z-index: 1;
}

#radio-card-01:checked ~ .c-services__collection #card-01 #images-child,
#radio-card-02:checked ~ .c-services__collection #card-02 #images-hair,
#radio-card-03:checked ~ .c-services__collection #card-03 #images-beard,
#radio-card-04:checked ~ .c-services__collection #card-04 #images-full,
#radio-card-05:checked ~ .c-services__collection #card-05 #images-woman {
  border: none;
  border-radius: 21px 21px 0px 0px;
  box-shadow: none;
}

#radio-card-01:checked ~ .c-services__collection #card-01,
#radio-card-02:checked ~ .c-services__collection #card-02,
#radio-card-03:checked ~ .c-services__collection #card-03,
#radio-card-04:checked ~ .c-services__collection #card-04,
#radio-card-05:checked ~ .c-services__collection #card-05 {
  background: var(--colorcards01);
  border: 0.5px solid var(--colorcards01);
  border-top: 0.5px solid var(--colorcards02);
  border-radius: 21px 21px 18% 18%;
  box-shadow: 0px 3px 6px var(--colorcards01), 0px -3px 9px var(--colorcards02);
  color: var(--colorcards03);
  cursor: pointer;
  opacity: 1;
  transform: translateX(0) scale(1);
  transition: var(--transition_cards);
  text-shadow: 0px 0px 3px var(--colorcards03);
  z-index: 3;
}

#radio-card-01:checked ~ .c-services__collection #card-01:hover,
#radio-card-02:checked ~ .c-services__collection #card-02:hover,
#radio-card-03:checked ~ .c-services__collection #card-03:hover,
#radio-card-04:checked ~ .c-services__collection #card-04:hover,
#radio-card-05:checked ~ .c-services__collection #card-05:hover {
  transition: var(--transition_cards);
  transform: scale(1.04);
  text-shadow: 1px 1px 3px var(--colorcards03);
}

#radio-card-01:checked ~ .c-services__collection #card-01 #images-child::before,
#radio-card-02:checked ~ .c-services__collection #card-02 #images-hair::before,
#radio-card-03:checked ~ .c-services__collection #card-03 #images-beard::before,
#radio-card-04:checked ~ .c-services__collection #card-04 #images-full::before,
#radio-card-05:checked ~ .c-services__collection #card-05 #images-woman::before {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 51%, var(--colorcards01) 100%);
  content: "";
  height: 360px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.c-services__img {
  background-repeat: no-repeat;
  background-size: 105% 105%;
  border: 0.5px solid var(--colorcards01);
  border-bottom: 0.5px solid var(--colorcards02);
  border-radius: 21px 21px 30% 30%;
  box-shadow: 0px -9px 18px var(--colorcards02), 0px 9px 18px var(--colorcards01);
  color: var(--color11);
  cursor: pointer;
  height: 358px;
  padding: 0px;
  text-align: center;
  transition: 0.9s;
  vertical-align: top;
  width: 358px;
}

.c-services__img:not(:hover):not(:focus) {
  transition: 0.9s;
}

#images-child {
  background-image: url("../img/barber/infantil_front.jpg");
}

#images-child:hover {
  background-image: url("../img/barber/infantil_back.jpg");
}

#images-hair {
  background-image: url("../img/barber/corte_front.jpg");
}

#images-hair:hover {
  background-image: url("../img/barber/corte_back.jpg");
}

#images-beard {
  background-image: url("../img/barber/barba_front.jpg");
}

#images-beard:hover {
  background-image: url("../img/barber/barba_back.jpg");
}

#images-full {
  background-image: url("../img/barber/completo_front.jpg");
}

#images-full:hover {
  background-image: url("../img/barber/completo_back.jpg");
}

#images-woman {
  background-image: url("../img/barber/feminino_front.png");
}

#images-woman:hover {
  background-image: url("../img/barber/feminino_back.jpg");
}

.c-services__figcaption a {
  color: var(--colorcards03);
  text-align: center;
  text-decoration: none;
}

.c-services__figcaption a:hover {
  color: var(--colorcards02);
}
.c-services__barber-type {
  font-size: 33px;
  font-weight: bold;
  padding-top: 18px;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.c-services__barber-description {
  font-size: 18px;
  font-weight: bold;
  margin-top: -6px;
}

.c-services__barber-price {
  font-size: 21px;
  font-weight: bold;
  margin-top: -18px;
  padding-bottom: 8px;
}

/*___↑Barber Shop↑___*/

/*___↓Tattoo Studio↓___*/
/* → arquivo tattoostudio.css*/
/*___↑Tattoo Studio↑___*/
/*_________↑Featured Services↑_________*/

/*_________↓Form↓_________*/
/*_______↓retornar da webstorage informações do usuário da área de signup↓_______*/

/*_______↑retornar da webstorage informações do usuário da área de signup↑_______*/

.c-scheduling {
  background: linear-gradient(
    90deg,
    var(--color01) 0%,
    var(--color04) 63%,
    var(--color05) 100%
  );
}

form {
  color: var(--color17);
  padding: 10px 0 20px 0;
}

form label,
form legend {
  display: block;
  font-size: 20px;
  margin: 0 0 10px;
}

.input-padrao {
  background: var(--color11);
  border-radius: 10px;
  color: var(--color17);
  display: block;
  margin: 0 0 20px;
  padding: 10px 25px;
  width: 50%;
}

.checkbox {
  margin: 20px 0;
}

.enviar:hover {
  color: #c78c19;
  text-shadow: 2px 2px 5px #c78c19;
  background: -moz-linear-gradient(
    216deg,
    rgba(0, 34, 255, 1) 0%,
    rgba(0, 34, 255, 1) 10%,
    rgba(255, 255, 255, 1) 15%,
    rgba(255, 255, 255, 1) 25%,
    rgba(255, 0, 0, 1) 30%,
    rgba(255, 0, 0, 1) 40%,
    rgba(255, 255, 255, 1) 45%,
    rgba(255, 255, 255, 1) 55%,
    rgba(0, 34, 255, 1) 60%,
    rgba(0, 43, 255, 1) 70%,
    rgba(255, 255, 255, 1) 75%,
    rgba(255, 255, 255, 1) 85%,
    rgba(255, 0, 0, 1) 90%,
    rgba(255, 0, 0, 1) 100%
  );
  background: -webkit-linear-gradient(
    216deg,
    rgba(0, 34, 255, 1) 0%,
    rgba(0, 34, 255, 1) 10%,
    rgba(255, 255, 255, 1) 15%,
    rgba(255, 255, 255, 1) 25%,
    rgba(255, 0, 0, 1) 30%,
    rgba(255, 0, 0, 1) 40%,
    rgba(255, 255, 255, 1) 45%,
    rgba(255, 255, 255, 1) 55%,
    rgba(0, 34, 255, 1) 60%,
    rgba(0, 43, 255, 1) 70%,
    rgba(255, 255, 255, 1) 75%,
    rgba(255, 255, 255, 1) 85%,
    rgba(255, 0, 0, 1) 90%,
    rgba(255, 0, 0, 1) 100%
  );
  background: linear-gradient(
    216deg,
    rgba(0, 34, 255, 1) 0%,
    rgba(0, 34, 255, 1) 10%,
    rgba(255, 255, 255, 1) 15%,
    rgba(255, 255, 255, 1) 25%,
    rgba(255, 0, 0, 1) 30%,
    rgba(255, 0, 0, 1) 40%,
    rgba(255, 255, 255, 1) 45%,
    rgba(255, 255, 255, 1) 55%,
    rgba(0, 34, 255, 1) 60%,
    rgba(0, 43, 255, 1) 70%,
    rgba(255, 255, 255, 1) 75%,
    rgba(255, 255, 255, 1) 85%,
    rgba(255, 0, 0, 1) 90%,
    rgba(255, 0, 0, 1) 100%
  );
  transform: rotate(-3deg) scale(1.1);
  box-shadow: 0 3px 30px #ffffff;

  /*animação do gradiente*/
  animation: animateBg 9s infinite linear;
  background-size: 120% 100%;
}

table {
  margin: 0px 0 0px;
}

thead {
  background: #555555;
  color: white;
  font-weight: bold;
}

td,
th {
  border: 1px solid var(--color11);
  padding: 8px 15px;
}

/*_________↑Form↑_________*/