/*_________↓Featured Services↓_________*/
/* → arquivo style.css*/

/*___↓Barber Shop↓___*/
.c-services__barbershop {
  align-items: center;
  display: flex;
  justify-content: center;
}

.c-services__main {
  width: 600px;
  height: 500px;
}

.c-services__box {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

input[type="radio"] {
  display: none;
}

.c-services__collection {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}

.c-services__cards {
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform 0.4s ease;
  cursor: pointer;
}

#radio-card-01:checked ~ .c-services__collection #card-03,
#radio-card-02:checked ~ .c-services__collection #card-01,
#radio-card-03:checked ~ .c-services__collection #card-02 {
  transform: translatex(-40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#radio-card-01:checked ~ .c-services__collection #card-02,
#radio-card-02:checked ~ .c-services__collection #card-03,
#radio-card-03:checked ~ .c-services__collection #card-01 {
  transform: translatex(40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#radio-card-01:checked ~ .c-services__collection #card-01,
#radio-card-02:checked ~ .c-services__collection #card-02,
#radio-card-03:checked ~ .c-services__collection #card-03 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}
#radio-card-01:checked ~ .c-services__collection #card-01 img,
#radio-card-02:checked ~ .c-services__collection #card-02 img,
#radio-card-03:checked ~ .c-services__collection #card-03 img {
  box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
}

.c-services__barber li {
  border: 0.5px solid var(--color06);
  border-radius: 12px;
  box-shadow: 0px 0px 6px var(--color06);
  box-sizing: border-box;
  /*box-sizing: border-box; indica que o tamanho levará em conta todo o conteúdo (width será a soma do conteúdo com a borda e o padding)*/
  display: inline-block;
  margin: 15px;
  padding: 0px;
  text-align: center;
  vertical-align: top;
}

.c-services__barber li:hover {
  box-shadow: 0px 0px 30px var(--color06);
  cursor: pointer;
  text-shadow: 3px 3px 6px var(--color11);
  transform: scale(1.04);
  transition: 0.5s all;
}

.c-services__barber li:active {
  border-color: var(--color08);
}

.services__barber a {
  text-decoration: none;
}

.c-services__barber-cards {
  background-repeat: no-repeat;
  background-size: 105% 105%;
  color: var(--color11);
  height: 360px;
  width: 315px;
}

.c-services__barber-cards:hover {
  color: #ff3a09;
}

#images-hair {
  background-image: url("../img/barber/corte_front.jpg");
}

#images-hair:hover {
  background-image: url("../img/barber/corte_back.jpg");
}

#images-beard {
  background-image: url("../img/barber/barba_front.jpg");
}

#images-beard:hover {
  background-image: url("../img/barber/barba_back.jpg");
}

#images-full {
  background-image: url("../img/barber/completo_front.jpg");
}

#images-full:hover {
  background-image: url("../img/barber/completo_back.jpg");
}

.c-services__barber-hair {
  font-size: 30px;
  font-weight: bold;
  padding-top: 5px;
}

.c-services__barber-description {
  font-size: 21px;
  font-weight: bold;
  margin-top: 190px;
}

.c-services__barber-price {
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
}

/*___↑Barber Shop↑___*/

/*___↓Tattoo Studio↓___*/
/* → arquivo tattoostudio.css*/
/*___↑Tattoo Studio↑___*/
/*_________↑Featured Services↑_________*/

/*_________↓Form↓_________*/
/*_______↓retornar da webstorage informações do usuário da área de signup↓_______*/

/*_______↑retornar da webstorage informações do usuário da área de signup↑_______*/

.c-form {
  background: linear-gradient(
    90deg,
    var(--color01) 0%,
    var(--color04) 63%,
    var(--color05) 100%
  );
}

form {
  color: var(--color17);
  padding: 10px 0 20px 0;
}

form label,
form legend {
  display: block;
  font-size: 20px;
  margin: 0 0 10px;
}

.input-padrao {
  background: var(--color11);
  border-radius: 10px;
  color: var(--color17);
  display: block;
  margin: 0 0 20px;
  padding: 10px 25px;
  width: 50%;
}

.checkbox {
  margin: 20px 0;
}

.enviar {
  background: -moz-linear-gradient(
    216deg,
    rgba(0, 34, 255, 1) 0%,
    rgba(0, 34, 255, 1) 10%,
    rgba(255, 255, 255, 1) 15%,
    rgba(255, 255, 255, 1) 25%,
    rgba(255, 0, 0, 1) 30%,
    rgba(255, 0, 0, 1) 40%,
    rgba(255, 255, 255, 1) 45%,
    rgba(255, 255, 255, 1) 55%,
    rgba(0, 34, 255, 1) 60%,
    rgba(0, 43, 255, 1) 70%,
    rgba(255, 255, 255, 1) 75%,
    rgba(255, 255, 255, 1) 85%,
    rgba(255, 0, 0, 1) 90%,
    rgba(255, 0, 0, 1) 100%
  );
  background: -webkit-linear-gradient(
    216deg,
    rgba(0, 34, 255, 1) 0%,
    rgba(0, 34, 255, 1) 10%,
    rgba(255, 255, 255, 1) 15%,
    rgba(255, 255, 255, 1) 25%,
    rgba(255, 0, 0, 1) 30%,
    rgba(255, 0, 0, 1) 40%,
    rgba(255, 255, 255, 1) 45%,
    rgba(255, 255, 255, 1) 55%,
    rgba(0, 34, 255, 1) 60%,
    rgba(0, 43, 255, 1) 70%,
    rgba(255, 255, 255, 1) 75%,
    rgba(255, 255, 255, 1) 85%,
    rgba(255, 0, 0, 1) 90%,
    rgba(255, 0, 0, 1) 100%
  );
  background: linear-gradient(
    216deg,
    rgba(0, 34, 255, 1) 0%,
    rgba(0, 34, 255, 1) 10%,
    rgba(255, 255, 255, 1) 15%,
    rgba(255, 255, 255, 1) 25%,
    rgba(255, 0, 0, 1) 30%,
    rgba(255, 0, 0, 1) 40%,
    rgba(255, 255, 255, 1) 45%,
    rgba(255, 255, 255, 1) 55%,
    rgba(0, 34, 255, 1) 60%,
    rgba(0, 43, 255, 1) 70%,
    rgba(255, 255, 255, 1) 75%,
    rgba(255, 255, 255, 1) 85%,
    rgba(255, 0, 0, 1) 90%,
    rgba(255, 0, 0, 1) 100%
  );
  width: 27%;
  padding: 9px 0;
  color: black;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 18px;
  transition: 1s all;
  cursor: pointer;
}

.enviar:hover {
  color: #c78c19;
  text-shadow: 2px 2px 5px #c78c19;
  background: -moz-linear-gradient(
    216deg,
    rgba(0, 34, 255, 1) 0%,
    rgba(0, 34, 255, 1) 10%,
    rgba(255, 255, 255, 1) 15%,
    rgba(255, 255, 255, 1) 25%,
    rgba(255, 0, 0, 1) 30%,
    rgba(255, 0, 0, 1) 40%,
    rgba(255, 255, 255, 1) 45%,
    rgba(255, 255, 255, 1) 55%,
    rgba(0, 34, 255, 1) 60%,
    rgba(0, 43, 255, 1) 70%,
    rgba(255, 255, 255, 1) 75%,
    rgba(255, 255, 255, 1) 85%,
    rgba(255, 0, 0, 1) 90%,
    rgba(255, 0, 0, 1) 100%
  );
  background: -webkit-linear-gradient(
    216deg,
    rgba(0, 34, 255, 1) 0%,
    rgba(0, 34, 255, 1) 10%,
    rgba(255, 255, 255, 1) 15%,
    rgba(255, 255, 255, 1) 25%,
    rgba(255, 0, 0, 1) 30%,
    rgba(255, 0, 0, 1) 40%,
    rgba(255, 255, 255, 1) 45%,
    rgba(255, 255, 255, 1) 55%,
    rgba(0, 34, 255, 1) 60%,
    rgba(0, 43, 255, 1) 70%,
    rgba(255, 255, 255, 1) 75%,
    rgba(255, 255, 255, 1) 85%,
    rgba(255, 0, 0, 1) 90%,
    rgba(255, 0, 0, 1) 100%
  );
  background: linear-gradient(
    216deg,
    rgba(0, 34, 255, 1) 0%,
    rgba(0, 34, 255, 1) 10%,
    rgba(255, 255, 255, 1) 15%,
    rgba(255, 255, 255, 1) 25%,
    rgba(255, 0, 0, 1) 30%,
    rgba(255, 0, 0, 1) 40%,
    rgba(255, 255, 255, 1) 45%,
    rgba(255, 255, 255, 1) 55%,
    rgba(0, 34, 255, 1) 60%,
    rgba(0, 43, 255, 1) 70%,
    rgba(255, 255, 255, 1) 75%,
    rgba(255, 255, 255, 1) 85%,
    rgba(255, 0, 0, 1) 90%,
    rgba(255, 0, 0, 1) 100%
  );
  transform: rotate(-3deg) scale(1.1);
  box-shadow: 0 3px 30px #ffffff;

  /*animação do gradiente*/
  animation: animateBg 9s infinite linear;
  background-size: 120% 100%;
}

table {
  margin: 0px 0 0px;
}

thead {
  background: #555555;
  color: white;
  font-weight: bold;
}

td,
th {
  border: 1px solid var(--color11);
  padding: 8px 15px;
}

/*_________↑Form↑_________*/
