.c-signin,
.c-signup {
  background: linear-gradient(
    120deg,
    var(--color08) 0%,
    var(--color07) 3%,
    var(--color04) 33%,
    var(--color05) 100%
  );
}

.c-signin__logo,
.c-signup__logo {
  filter: drop-shadow(0px 0px 45px var(--color08));
}

.c-signin__box {
  box-shadow: 0px 800px 900px var(--color08);
  color: var(--color08);
  transition: 1.2s all;
}

.c-signin__box:hover {
  box-shadow: 1px 1px 15px var(--color05);
}

.c-signup__text {
  color: var(--color08);
}

.c-signup__title {
  color: var(--color09);
  text-shadow: 0px 0px 69px var(--color08);
}

/*_________↓Customer Plan↓_________*/
/* → arquivo style.css*/

/*___↓Signature↓___*/
.c-plan__signatures {
  animation: plan-signatures 3s ease-in-out infinite;
  box-shadow: 0px 60px 300px var(--color08);
  color: #a0a0a0;
  filter: blur(3.69px) brightness(90%);
  opacity: 0.9;
  scale: 0.9;
}

@keyframes plan-signatures {
  0% {
    transform: rotateY(12deg);
  }

  20% {
    transform: rotateY(-12deg);
    filter: blur(0px) brightness(100%);
    opacity: 1;
  }

  30% {
    transform: rotateY(0deg);
    filter: blur(0px) brightness(100%);
    opacity: 1;
  }

  100% {
    transform: rotateY(12deg);
  }
}

.c-plan__signatures:hover {
  animation: none;
  box-shadow: 1px 1px 15px var(--color05);
  color: var(--color13);
  filter: blur(0px) brightness(120%);
  opacity: 1;
  transform: scale(1.17);
  transition: 0.3s all;
}

.c-plan__signatures--active {
  animation: signatures-active 3s ease-in-out infinite;
  box-shadow: 1px 1px 15px var(--color08);
  color: var(--color13);
  filter: blur(0px);
  scale: 0.936;
}

@keyframes signatures-active {
  from {
    transform: rotateY(9deg);
  }

  to {
    transform: rotateY(-9deg);
  }
}

.c-plan__type {
  animation: plan-type 2s ease-in-out infinite alternate;
  background: linear-gradient(
    90deg,
    var(--color02) 0%,
    var(--color08) 15%,
    var(--color08) 16%,
    var(--color07) 39%,
    var(--color03) 77%,
    var(--color03) 100%
  );
  font-weight: bold;
}

@keyframes plan-type {
  from {
    text-shadow: 0px 0px 30px var(--color08),
      0px 0px 18px var(--color08);
  }

  to {
    text-shadow: 0 0 6px var(--color08), 0 0 6px var(--color08),
      0 0 6px var(--color08);
  }
}

.c-plan__benefits {
  background: var(--color11);
}

.c-plan__price {
  color: var(--color09);
  text-shadow: 0px 0px 20px var(--color08);
}

.c-plan__price--mount {
  color: var(--color12);
  text-shadow: 0px 0px 20px var(--color08);
}

.c-plan__btn {
  align-items: center;
  display: flex;
  justify-content: center;
}

.c-plan__center {
  position: relative;
}

.c-plan__button {
  background: transparent;
  border: solid 0.3px #1f1f1f;
  border-radius: 6px;
  cursor: pointer;
  height: 40px;
  outline: none;
  transition: 0.5s ease-in-out;
  width: 150px;
}

.c-plan__button svg {
  border-radius: 6px;
  fill: none;
  left: 0;
  position: absolute;
  stroke: var(--color09);
  stroke-dasharray: 180 540;
  stroke-dashoffset: 180;
  transition: 0.5s ease-in-out;
  top: 0;
}

.c-plan__button:hover {
  background: linear-gradient(
    90deg,
    var(--color02) 0%,
    var(--color03) 15%,
    var(--color04) 50%,
    var(--color03) 85%,
    var(--color02) 100%
  );
  border: solid 0.3px var(--color011);
  transition: 0.5s ease-in-out;
}

.c-plan__button:active {
  background: linear-gradient(
    90deg,
    var(--color03) 0%,
    var(--color04) 15%,
    var(--color05) 50%,
    var(--color04) 85%,
    var(--color03) 100%
  );
  transition: 0s ease-in-out;
}

.c-plan__border {
  border: solid 0.3px #1f1f1f;
}

.c-plan__button:hover svg {
  stroke-dashoffset: -540;
}

.c-plan__button p {
  color: var(--color14);
  font-size: 18px;
  font-weight: 180;
  padding-top: 4px;
}
/*___↑Signature↑___*/

/*_________↑Customer Plan↑_________*/
