/*_________↓Featured Products↓_________*/
.c-products {
  background: #000000;
}

.c-products--index {
  background: var(--color11);
}

.c-products__title {
  animation: neon-prod 2s ease-in-out infinite alternate;
  color: var(--color08);
  font-weight: bold;
}

@keyframes neon-prod {
  from {
    text-shadow: 0px 0px 30px var(--color08), 0px 0px 18px var(--color08);
  }

  to {
    text-shadow: 0 0 6px var(--color08), 0 0 6px var(--color08),
      0 0 6px var(--color08);
  }
}

.c-products input[type="radio"] {
  display: none;
}

:root {
  overflow-x: hidden;
}

.c-products__radio-btn {
  border: solid 1px var(--color08);
  color: var(--color08);
  position: absolute;
  top: 1490px;
  border-radius: 5px;
}

#radio_left-arrow,
#radio_page_01,
#radio_page_02,
#radio_page_03,
#radio_page_04,
#radio_right-arrow {
  position: absolute;
  top: 1490px;
}

#btn1-position,
#btn2-position,
#btn3-position,
#btn4-position {
  padding-left: 4px;
  padding-right: 4px;
}

#left-arrow-position,
#right-arrow-position {
  padding-left: 2px;
  padding-right: 2px;
}

#left-arrow-position {
  left: calc(50% - 72px);
}

#btn1-position {
  left: calc(50% - 44px);
}

#btn2-position {
  left: calc(50% - 8px);
}

#btn3-position {
  left: calc(50% + 28px);
}

#btn4-position {
  left: 9999px;
}

#right-arrow-position {
  left: calc(50% + 72px);
}

#radio_right-arrow:checked ~ #left-arrow-position {
  left: -9999px;
}

#radio_right-arrow:checked ~ #btn1-position {
  left: -9999px;
}

#radio_right-arrow:checked ~ #btn2-position {
  left: calc(50% - 44px);
}

#radio_right-arrow:checked ~ #btn3-position {
  left: calc(50% - 8px);
}

#radio_right-arrow:checked ~ #btn4-position {
  left: calc(50% + 28px);
}

.c-products__pages {
  transform-style: preserve-3d;
  height: 1200px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.c-products__page-selected {
  position: absolute;
  top: 10px;
  border: solid 1px var(--color08);
  border-radius: 10px;
  background: rgba(52, 6, 85, 0.3);
  padding: 15px;
}

#radio_page_01:checked ~ .c-products__pages #page_01,
#radio_page_02:checked ~ .c-products__pages #page_02,
#radio_page_03:checked ~ .c-products__pages #page_03 {
  z-index: 1;
  opacity: 1;
  transform: rotateY(0deg);
  transition: transform 0.3s ease;
}

#radio_page_01:checked ~ .c-products__pages #page_02,
#radio_page_01:checked ~ .c-products__pages #page_03,
#radio_page_02:checked ~ .c-products__pages #page_01,
#radio_page_02:checked ~ .c-products__pages #page_03,
#radio_page_03:checked ~ .c-products__pages #page_01,
#radio_page_03:checked ~ .c-products__pages #page_02 {
  z-index: 0;
  opacity: 0;
  transform: rotateY(180deg);
}

.c-products__cards {
  cursor: pointer;
  background: linear-gradient(
    170deg,
    var(--color03) 0%,
    var(--color08) 45%,
    var(--color04) 90%,
    var(--color03) 100%
  );
}

/*_________↑Featured Products↑_________*/
