:root {
  --colortitle: #9900ff;
}  
/*_________↓Featured Products↓_________*/
.c-products {
  background: var(--color11);
}

.c-products__title {
  animation: neon-roxo 2s ease-in-out infinite alternate;
  color: var(--colortitle);
  font-weight: bold;
}

@keyframes neon-roxo {
  from {
    text-shadow: 0px 0px 30px var(--colortitle),
      0px 0px 18px var(--colortitle);
  }

  to {
    text-shadow: 0 0 6px var(--colortitle), 0 0 6px var(--colortitle),
      0 0 6px var(--colortitle);
  }
}

.c-products input[type="radio"] {
  display: none;
}

.c-products__radio-btn {
  border: solid 1px #ffffff;
  color: #ffffff;
  position: absolute;
  top: 1500px;
}

#radio_left-arrow, #radio_page_01, #radio_page_02, #radio_page_03, #radio_page_04,#radio_right-arrow {
  position: absolute;
  top: 1500px;
}

#btn1-position, #btn2-position, #btn3-position {
  padding-left: 5px;
  padding-right: 5px;
}

#left-arrow-position, #right-arrow-position {
  padding-left: 2px;
  padding-right: 2px;
}


#btn1-position {
  left: calc(50% - 36px);
  --position-btn1: calc(50% - 36px);
}

#btn2-position {
  left: 50%;
}

#btn3-position {
  left: calc(50% + 36px);
  --position-btn3: calc(50% + 36px);
}

#right-arrow-position {
  left: calc(50% + 72px);
}

#radio_right-arrow:checked + #btn1-position {
  left: calc(var(--position-btn1) - 36px);
}

#radio_right-arrow:checked + #btn2-position {
  left: calc(50% - 36px);
}

#radio_right-arrow:checked + #btn3-position {
  left: calc(var(--position-btn3) - 36px);
}

#radio_right-arrow:checked + #btn4-position {
  left: calc(50% + 72px);
}





.c-products__pages {
  transform-style: preserve-3d;
  height: 1200px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.c-products__page-selected {
  position: absolute;
  top: 10px;
  border: solid 1px #ffffff;
  border-radius: 30px;
}

#radio_page_01:checked ~ .c-products__pages #page_01,
#radio_page_02:checked ~ .c-products__pages #page_02,
#radio_page_03:checked ~ .c-products__pages #page_03 {
  z-index: 1;
  opacity: 1;
  transform: rotateY(0deg);
  transition: transform 0.3s ease;
}

#radio_page_01:checked ~ .c-products__pages #page_02,
#radio_page_01:checked ~ .c-products__pages #page_03,
#radio_page_02:checked ~ .c-products__pages #page_01,
#radio_page_02:checked ~ .c-products__pages #page_03,
#radio_page_03:checked ~ .c-products__pages #page_01,
#radio_page_03:checked ~ .c-products__pages #page_02 {
  z-index: 0;
  opacity: 0;
  transform: rotateY(180deg);
}

.c-products__cards {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    var(--color01) 0%,
    var(--color04) 53%,
    var(--color05) 100%
  );
}

/*_________↑Featured Products↑_________*/
