/*_________↓Google fonts↓_________*/
.google-fonts {
  font-family: "Raleway", sans-serif;
}

/*_________↓Acessibilidade↓_________*/
.accessibility-jump {
  color: transparent;
  display: block;
  height: 1px;
  overflow: hidden;
  position: absolute;
  text-indent: 100%;
  width: 1px;
  white-space: nowrap;
}

.accessibility-text {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*_________↓Menu↓_________*/
.c-menu {
  background: linear-gradient(
    90deg,
    rgba(39, 0, 65, 1) 0%,
    rgba(255, 94, 30, 1) 15%,
    rgba(255, 94, 30, 1) 16%,
    rgba(195, 79, 47, 1) 39%,
    rgba(52, 6, 85, 1) 77%,
    rgba(52, 6, 85, 1) 100%
  );
  box-shadow: 0px 0px 33px #1f1f1f;
}

.c-menu__logo {
  animation: menu-logo 3s infinite alternate;
}

@keyframes menu-logo {
  0% {
    filter: drop-shadow(0px 0px 6px rgba(195, 79, 47, 1));
  }

  72% {
    filter: drop-shadow(0px 0px 30px rgba(255, 94, 30, 1));
  }

  90% {
    filter: drop-shadow(0px 0px 6px rgba(255, 94, 30, 1));
  }

  100% {
    filter: drop-shadow(0px 0px 0px rgb(255, 180, 160));
  }
}

.c-menu__link {
  color: #d1b092;
  filter: drop-shadow(0px 0px 15px rgb(255, 180, 160));
  text-decoration: none;
  transition: 0.5s all;
}

.c-menu__link:hover {
  color: #c0c0c0;
  filter: drop-shadow(0px 0px 0px #f0f0f0);
}

.c-menu__link--active {
  color: #c0c0c0;
  filter: drop-shadow(0px 0px 15px #f0f0f0);
  text-decoration: none;
  transition: 0.5s all;
}

.c-menu__link--active:hover {
  color: #d0d0d0;
  filter: drop-shadow(0px 0px 0px #f0f0f0);
}

#c-menu__id-login:hover {
  background-image: url("ico/login-hover.png");
}

.c-menu__login {
  background: linear-gradient(
    90deg,
    rgba(39, 0, 65, 1) 0%,
    rgba(195, 79, 47, 1) 33%,
    rgba(195, 79, 47, 1) 67%,
    rgba(39, 0, 65, 1) 100%
  );
}

.c-carousel {
  background: rgba(195, 79, 47, 1);
}

/*_________↓Presentation↓_________*/
.c-presentation {
  border-bottom: 0.1px solid #5e5e5e;
}

.c-presentation__animation {
  color: #e5e5e5;
}

.c-presentation__title {
  animation: title_anim 4s infinite alternate;
  color: #b58e70;
  text-shadow: 0px 0px 20px rgba(255, 94, 30, 1);
}

@keyframes title_anim {
  0% {
    margin-left: 10%;
    width: 120%;
  }

  20% {
    margin-left: 10%;
    width: 120%;
  }

  100% {
    margin-left: 0%;
    width: 100%;
  }
}

.c-presentation__title--silver {
  color: #e5e5e5;
}

.c-presentation__text {
  animation: texto_anim 4s infinite alternate;
}

@keyframes texto_anim {
  0% {
    margin-left: 10%;
    width: 120%;
  }

  20% {
    margin-left: 10%;
    width: 120%;
  }

  100% {
    margin-left: 0%;
    width: 100%;
  }
}

.c-presentation__icon {
  animation: ico_move 2s ease-in-out infinite alternate;
  background-repeat: no-repeat;
  display: inline-block;
  height: 12%;
  margin: 0px;
  padding: 0px;
  position: relative;
  width: 100%;
}

@keyframes ico_move {
  0% {
    left: 550px;
    height: 0%;
    opacity: 0;
  }

  20% {
    left: 550px;
    height: 8%;
    opacity: 0;
  }

  100% {
    left: 400px;
    height: 12%;
    opacity: 0.5;
  }
}

#barb_icon-1 {
  animation-timing-function: ease-in-out;
  background-image: url("ico/barber/b_icon1.png");
}

#barb_icon-2 {
  animation-timing-function: ease;
  background-image: url("ico/barber/b_icon2.png");
}

#barb_icon-3 {
  animation-timing-function: linear;
  background-image: url("ico/barber/b_icon3.png");
}

#barb_icon-4 {
  animation-timing-function: ease-in;
  background-image: url("ico/barber/b_icon4.png");
}

#barb_icon-5 {
  animation-timing-function: ease-out;
  background-image: url("ico/barber/b_icon5.png");
}

#tatt_icon-1 {
  animation-timing-function: ease-in-out;
  background-image: url("ico/estudio/t_icon1.png");
}

#tatt_icon-2 {
  animation-timing-function: ease;
  background-image: url("ico/estudio/t_icon2.png");
}

#tatt_icon-3 {
  animation-timing-function: linear;
  background-image: url("ico/estudio/t_icon3.png");
}

#tatt_icon-4 {
  animation-timing-function: ease-in;
  background-image: url("ico/estudio/t_icon4.png");
}

#tatt_icon-5 {
  animation-timing-function: ease-out;
  background-image: url("ico/estudio/t_icon5.png");
}

#stor_icon-1 {
  animation-timing-function: ease-in-out;
  background-image: url("ico/loja/l_icon1.png");
}

#stor_icon-2 {
  animation-timing-function: ease;
  background-image: url("ico/loja/l_icon2.png");
}

#stor_icon-3 {
  animation-timing-function: linear;
  background-image: url("ico/loja/l_icon3.png");
}

#stor_icon-4 {
  animation-timing-function: ease-in;
  background-image: url("ico/loja/l_icon4.png");
}

#stor_icon-5 {
  animation-timing-function: ease-out;
  background-image: url("ico/loja/l_icon5.png");
}

.c-presentation__circle {
  animation: images_circle 2s ease-in-out infinite alternate;
  background-repeat: no-repeat;
  border-radius: 100%;
  display: inline-block;
  height: 500px;
  position: relative;
  scale: 0.8;
  vertical-align: top;
  width: 500px;
}

@keyframes images_circle {
  0% {
    left: -200px;
    transform: scale(1) rotate(6deg) rotateY(-18deg);
    opacity: 1;
    border: 6px solid #b58e70;
    box-shadow: inset 0 0 40px #b58e70, 0 0 40px #b58e70;
    outline: 1px solid;
    outline-color: #b58e70;
    outline-offset: 40px;
  }

  25% {
    left: -200px;
    transform: scale(0.9) rotate(6deg) rotateY(18deg);
    opacity: 1;
    border: 1px solid #f0f0f0;
    box-shadow: inset 0 0 20px #f0f0f0, 0 0 20px #f0f0f0;
    outline-color: #f0f0f0;
    outline-offset: 15px;
  }

  60% {
    left: -50px;
    transform: scale(0.8) rotate(0deg);
    opacity: 0.5;
    border: 2px solid #f0f0f0;
  }

  100% {
    left: -50px;
    transform: scale(0.8) rotate(4deg);
    opacity: 0.5;
    border: 1px solid #f0f0f0;
    outline: 18px solid;
    outline-color: #f0f0f0;
    outline-offset: 12px;
  }
}

#img-circle-A {
  background-image: url("images/circuloA.jpg");
}

#img-circle-B {
  background-image: url("images/circuloB.jpg");
}

#img-circle-C {
  background-image: url("images/circuloC.jpg");
}

/*_________↓Featured Services↓_________*/

.c-services {
  background: #0f0f0f;
}

.c-services__title {
  animation: neon-roxo 2s ease-in-out infinite alternate;
  color: #9900ff;
  font-weight: bold;
}

@keyframes neon-roxo {
  from {
    text-shadow: 0px 0px 30px #9900ff, 0px 0px 18px #9900ff;
  }

  to {
    text-shadow: 0 0 6px #9900ff, 0 0 6px #9900ff, 0 0 6px #9900ff;
  }
}

/*___↓Barber Shop↓___*/
/* → arquivo barbershop.css*/
/*___↑Barber Shop↑___*/

/*___↓Tattoo Studio↓___*/
/* → arquivo tattoostudio.css*/
/*___↑Tattoo Studio↑___*/
/*_________↑Featured Services↑_________*/

/*_________↓Featured Products↓_________*/
/* → arquivo store.css*/
/*_________↑Featured Products↑_________*/

/*_________↓Customer Plan↓_________*/
.c-plan {
  background: #0f0f0f;
  border-bottom: 0.1px solid #5e5e5e;
}

.c-plan__box {
  background: linear-gradient(
    90deg,
    rgba(21, 0, 36, 1) 0%,
    rgba(68, 0, 115, 1) 63%,
    rgba(119, 0, 204, 1) 100%
  );
  border: 0.5px solid #ffffff;
  border-radius: 20px;
  box-shadow: 0px 0px 6px #f0f0f0;
  margin: 30px;
}

.c-plan__title {
  color: #b58e70;
  text-shadow: 0px 0px 30px rgba(255, 94, 30, 1);
}

.c-plan__logo {
  filter: drop-shadow(0px 0px 20px rgba(255, 94, 30, 1));
}

.c-plan__about {
  color: #b7b7b7;
}

.c-plan__about--icons {
  color: #b58e70;
  filter: drop-shadow(0px 0px 1px rgba(255, 94, 30, 1));
}

.c-plan__about--subtitle {
  color: #b58e70;
  filter: drop-shadow(0px 0px 30px rgba(255, 94, 30, 1));
}

/*___↓Signature↓___*/
/* → arquivo login.css*/
/*___↑Signature↑___*/

/*_________↑Customer Plan↑_________*/

/*_________↓Localization↓_________*/
.c-localization {
  border-bottom: 0.1px solid #5e5e5e;
}

.c-localization__title {
  color: #b58e70;
  text-shadow: 0px 0px 20px rgba(255, 94, 30, 1);
}

.c-localization__logo {
  filter: drop-shadow(0px 0px 30px rgba(255, 94, 30, 1));
}

/*_________↑Localization↑_________*/

/*_________↓Footer↓_________*/
.c-footer {
  background: #0f0f0f;
  text-align: center;
}

.c-footer__social,
.c-footer__copy {
  color: #e0e0e0;
}

.c-footer__social:hover {
  color: #b58e70;
  filter: drop-shadow(0px 0px 3px rgba(255, 94, 30, 1));
  scale: 1.3;
}

.c-footer__useful:hover {
  filter: drop-shadow(0px 0px 1px rgba(255, 94, 30, 1));
  scale: 1.1;
}

.c-footer__logo {
  filter: drop-shadow(0px 0px 33px rgba(255, 94, 30, 1));
}

/*_________↑Footer↑_________*/
