/*_________↓Variáveis↓_________*/
:root {
  --color01: rgba(21, 0, 36, 1);
	--color02: rgba(39, 0, 65, 1);
  --color03: rgba(52, 6, 85, 1);
  --color04: rgba(68, 0, 115, 1);
  --color05: rgba(119, 0, 204, 1);
  --color06: #9900ff;
  --color07: rgba(195, 79, 47, 1);
	--color08: rgba(255, 94, 30, 1); 
  --color09: #b58e70;
  --color10: rgb(255, 180, 160);
  --color11: #0f0f0f;
  --color12: #5e5e5e;
  --color13: #b7b7b7;
  --color14: #c0c0c0;
  --color15: #e0e0e0;
  --color16: #e5e5e5;
  --color17: #f0f0f0;
  --color18: #ffffff;
}

/*_________↓Google fonts↓_________*/
.google-fonts {
  font-family: "Raleway", sans-serif;
}

/*_________↓Acessibilidade↓_________*/
.accessibility-jump {
  color: transparent;
  display: block;
  height: 1px;
  overflow: hidden;
  position: absolute;
  text-indent: 100%;
  width: 1px;
  white-space: nowrap;
}

.accessibility-text {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*_________↓Menu↓_________*/
.c-menu {
  background: linear-gradient(
    90deg,
    var(--color04) 0%,
    var(--color08) 15%,
    var(--color08) 16%,
    var(--color07) 39%,
    var(--color04) 77%,
    var(--color05) 100%
  );
  box-shadow: 0px 0px 33px #1f1f1f;
}

.c-menu__logo {
  animation: menu-logo 6s infinite alternate;
}

@keyframes menu-logo {
  0% {
    filter: drop-shadow(0px 0px 6px var(--color07)) brightness(111%);
  }

  60% {
    filter: drop-shadow(0px 0px 30px var(--color08)) brightness(180%);
  }

  66% {
    filter: drop-shadow(0px 0px 6px var(--color08)) brightness(132%);
  }

  72% {
    filter: drop-shadow(0px 0px 30px var(--color08)) brightness(180%);
  }

  90% {
    filter: drop-shadow(0px 0px 6px var(--color08)) brightness(132%);
  }

  100% {
    filter: drop-shadow(0px 0px 0px var(--color10)) brightness(210%);
  }
}

.c-menu__link {
  color: #d1b092;
  filter: drop-shadow(0px 0px 15px var(--color10));
  text-decoration: none;
  transition: 0.5s all;
}

.c-menu__link:hover {
  color: var(--color14);
  filter: drop-shadow(0px 0px 0px var(--color17));
}

.c-menu__link--active {
  color: var(--color14);
  filter: drop-shadow(0px 0px 15px var(--color17));
  text-decoration: none;
  transition: 0.5s all;
}

.c-menu__link--active:hover {
  color: #d0d0d0;
  filter: drop-shadow(0px 0px 0px var(--color17));
}

#c-menu__id-login:hover {
  background-image: url("../img/login-hover.png");
}

.c-menu__login {
  background: linear-gradient(
    90deg,
    var(--color04) 0%,
    var(--color08) 33%,
    var(--color08) 67%,
    var(--color04) 100%
  );
}

.c-carousel, .c-carousel__banner {
  background: var(--color11);
}

.c-carousel__text {
  color: var(--color17);
}

/*_________↓Presentation↓_________*/
.c-presentation {
  background: var(--color11);
  border-bottom: 0.1px solid var(--color12);
}

.c-presentation__animation {
  background: linear-gradient(
    159deg,
    var(--color08) 6%,
    var(--color07) 12%,
    var(--color04) 60%,
    var(--color05) 100%
  );
  border-radius: 20px;
  color: var(--color16);
}

.c-presentation__title {
  animation: title_anim 4s infinite alternate;
  color: var(--color09);
  text-shadow: 0px 0px 20px var(--color08);
}

@keyframes title_anim {
  0% {
    margin-left: 10%;
    width: 120%;
  }

  20% {
    margin-left: 10%;
    width: 120%;
  }

  100% {
    margin-left: 0%;
    width: 100%;
  }
}

.c-presentation__title--silver {
  color: var(--color16);
}

.c-presentation__text {
  animation: texto_anim 4s infinite alternate;
}

@keyframes texto_anim {
  0% {
    margin-left: 10%;
    width: 120%;
  }

  20% {
    margin-left: 10%;
    width: 120%;
  }

  100% {
    margin-left: 0%;
    width: 100%;
  }
}

.c-presentation__icon {
  animation: ico_move 2s ease-in-out infinite alternate;
  background-repeat: no-repeat;
  display: inline-block;
  height: 12%;
  margin: 0px;
  padding: 0px;
  position: relative;
  width: 100%;
}

@keyframes ico_move {
  0% {
    left: 550px;
    height: 0%;
    opacity: 0;
  }

  20% {
    left: 550px;
    height: 8%;
    opacity: 0;
  }

  100% {
    left: 400px;
    height: 12%;
    opacity: 0.5;
  }
}

#barb_icon-1 {
  animation-timing-function: ease-in-out;
  background-image: url("../img/ico/barber_ico/b_icon1.png");
}

#barb_icon-2 {
  animation-timing-function: ease;
  background-image: url("../img/ico/barber_ico/b_icon2.png");
}

#barb_icon-3 {
  animation-timing-function: linear;
  background-image: url("../img/ico/barber_ico/b_icon3.png");
}

#barb_icon-4 {
  animation-timing-function: ease-in;
  background-image: url("../img/ico/barber_ico/b_icon4.png");
}

#barb_icon-5 {
  animation-timing-function: ease-out;
  background-image: url("../img/ico/barber_ico/b_icon5.png");
}

#tatt_icon-1 {
  animation-timing-function: ease-in-out;
  background-image: url("../img/ico/studio_ico/t_icon1.png");
}

#tatt_icon-2 {
  animation-timing-function: ease;
  background-image: url("../img/ico/studio_ico/t_icon2.png");
}

#tatt_icon-3 {
  animation-timing-function: linear;
  background-image: url("../img/ico/studio_ico/t_icon3.png");
}

#tatt_icon-4 {
  animation-timing-function: ease-in;
  background-image: url("../img/ico/studio_ico/t_icon4.png");
}

#tatt_icon-5 {
  animation-timing-function: ease-out;
  background-image: url("../img/ico/studio_ico/t_icon5.png");
}

#stor_icon-1 {
  animation-timing-function: ease-in-out;
  background-image: url("../img/ico/store_ico/l_icon1.png");
}

#stor_icon-2 {
  animation-timing-function: ease;
  background-image: url("../img/ico/store_ico/l_icon2.png");
}

#stor_icon-3 {
  animation-timing-function: linear;
  background-image: url("../img/ico/store_ico/l_icon3.png");
}

#stor_icon-4 {
  animation-timing-function: ease-in;
  background-image: url("../img/ico/store_ico/l_icon4.png");
}

#stor_icon-5 {
  animation-timing-function: ease-out;
  background-image: url("../img/ico/store_ico/l_icon5.png");
}

.c-presentation__circle {
  animation: images_circle 2s ease-in-out infinite alternate;
  background-repeat: no-repeat;
  border-radius: 100%;
  display: inline-block;
  height: 500px;
  position: relative;
  scale: 0.8;
  vertical-align: top;
  width: 500px;
}

@keyframes images_circle {
  0% {
    filter: brightness(111%);
    left: -200px;
    transform: scale(1) rotate(6deg) rotateY(-18deg);
    opacity: 1;
    border: 6px solid var(--color09);
    box-shadow: inset 0 0 40px var(--color09), 0 0 40px var(--color09);
    outline: 1px solid;
    outline-color: var(--color09);
    outline-offset: 40px;
  }

  25% {
    filter: brightness(95%);
    left: -200px;
    transform: scale(0.9) rotate(6deg) rotateY(18deg);
    opacity: 1;
    border: 1px solid var(--color17);
    box-shadow: inset 0 0 20px var(--color17), 0 0 20px var(--color17);
    outline-color: var(--color17);
    outline-offset: 15px;
  }

  60% {
    filter: brightness(90%);
    left: -50px;
    transform: scale(0.8) rotate(0deg);
    opacity: 0.9;
    border: 2px solid var(--color17);
  }

  100% {
    filter: brightness(90%);
    left: -50px;
    transform: scale(0.8) rotate(4deg);
    opacity: 0.9;
    border: 1px solid var(--color17);
    outline: 18px solid;
    outline-color: var(--color17);
    outline-offset: 12px;
  }
}

#img-circle-A {
  background-image: url("../img/circuloA.jpg");
}

#img-circle-B {
  background-image: url("../img/circuloB.jpg");
}

#img-circle-C {
  background-image: url("../img/circuloC.jpg");
}

/*_________↓Featured Services↓_________*/

.c-services {
  background: var(--color11);
}

.c-services__title {
  animation: neon-roxo 2s ease-in-out infinite alternate;
  color: var(--color06);
  font-weight: bold;
}

@keyframes neon-roxo {
  from {
    text-shadow: 0px 0px 30px var(--color06), 0px 0px 18px var(--color06);
  }

  to {
    text-shadow: 0 0 6px var(--color06), 0 0 6px var(--color06), 0 0 6px var(--color06);
  }
}

/*___↓Barber Shop↓___*/
/* → arquivo barbershop.css*/
/*___↑Barber Shop↑___*/

/*___↓Tattoo Studio↓___*/
/* → arquivo tattoostudio.css*/
/*___↑Tattoo Studio↑___*/
/*_________↑Featured Services↑_________*/

/*_________↓Featured Products↓_________*/
/* → arquivo store.css*/
/*_________↑Featured Products↑_________*/

/*_________↓Customer Plan↓_________*/
.c-plan {
  background: var(--color11);
  border-bottom: 0.1px solid var(--color12);
}

.c-plan__box {
  background: linear-gradient(
    145deg,
    var(--color08) 6%,
    var(--color07) 12%,
    var(--color04) 45%,
    var(--color05) 100%
  );
  border: 0.5px solid var(--color18);
  border-radius: 20px;
  box-shadow: 0px 0px 6px var(--color17);
  margin: 30px;
}

.c-plan__title {
  color: var(--color09);
  text-shadow: 0px 0px 18px var(--color08);
}

.c-plan__logo {
  filter: drop-shadow(0px 0px 18px var(--color08));
}

.c-plan__about {
  color: var(--color13);
}

.c-plan__about--icons {
  color: var(--color13);
  filter: drop-shadow(0px 0px 1px var(--color08));
}

.c-plan__about--subtitle {
  color: var(--color13);
  filter: drop-shadow(0px 0px 18px var(--color08));
}

/*___↓Signature↓___*/
/* → arquivo login.css*/
/*___↑Signature↑___*/

/*_________↑Customer Plan↑_________*/

/*_________↓Localization↓_________*/
.c-localization {
  border-bottom: 0.1px solid var(--color12);
}

.c-localization__title {
  color: var(--color09);
  text-shadow: 0px 0px 20px var(--color08);
}

.c-localization__logo {
  filter: drop-shadow(0px 0px 30px var(--color08));
}

/*_________↑Localization↑_________*/

/*_________↓Footer↓_________*/
.c-footer {
  background: var(--color11);
  text-align: center;
}

.c-footer__social,
.c-footer__contact,
.c-footer__copy {
  color: var(--color15);
  text-decoration: none;
}

.c-footer__social:hover,
.c-footer__contact:hover {
  color: var(--color09);
  filter: drop-shadow(0px 0px 3px var(--color08));
  scale: 1.3;
}

.c-footer__useful:hover {
  filter: drop-shadow(0px 0px 1px var(--color08));
  scale: 1.1;
}

.c-footer__logo {
  filter: drop-shadow(0px 0px 33px var(--color08));
}

/*_________↑Footer↑_________*/
